<h2>Редактирование данных пациента</h2>

<app-loader *ngIf="!isLoaded">

</app-loader>

<div id="divEdit" *ngIf="isLoaded">

  <app-patient-form [patient]="patient" (formEmitter)="formChanged($event)"></app-patient-form>

  <div id="buttons">
    <button type="button" class="btn btn-primary" id="btnOk" [disabled]="form.invalid"
      (click)="onSave()">Сохранить</button>

    <a [routerLink]="'/patient'" class="btn btn-primary" id="btnCancel">Отменить</a>

    <a [routerLink]="['/patient', patient.id]" class="btn btn-success" id="btnInfo">Прививки</a>
  </div>

</div>