<app-loader *ngIf="!isLoaded"></app-loader>
<form *ngIf="isLoaded" [formGroup]="form">
  <div>
    <label for="medication">Препарат</label>
    <select size="1" name="medication" formControlName="medication" id="medication">
      <option *ngFor="let m of medications" [attr.value]="m">{{m}}</option>
    </select>
    <p *ngIf="form.get('medication').invalid && form.get('medication').touched" class="alert alert-danger">
        <span>
          Необходимо выбрать препарат
        </span>
      </p>
  </div>

  <div>
      <label for="date">Дата проведения</label>
      <input
        type="date"
        id="date"
        formControlName="date"
        [min]="minDateStr"
        [max]="maxDateStr"
      >
      <p class="alert alert-danger"
      *ngIf="form.get('date').invalid && form.get('date').touched"
    >
      <span *ngIf="form.get('date').errors.maxDateError">
        Дата проведения не может быть больше текущей даты
      </span>
      <span *ngIf="form.get('date').errors.minDateError">
          Дата проведения не может быть меньше 1900 года
        </span>
  
        <span *ngIf="form.get('date').errors.required">
            Дата проведения должна быть заполнена
          </span>
    </p>
    </div>

    <div>
      <input type="checkbox" formControlName="agreement" id="agreement">
      <label for="agreement">Наличие согласия на прививку</label>
      <p *ngIf="form.get('agreement').invalid && form.get('agreement').touched" class="alert alert-danger">
        <span>
          Необходимо наличие согласия на прививку
        </span>
      </p>
    </div>
</form>