label {
  margin-right: 10px;
}

div {
  margin-top: 5px;
}

#date, #medication {
  float: right;
  width: 200px;
}

form {
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 400px;
  margin: 20px auto;
  background-color: aliceblue
}

#btnVcnCancel, #btnVcnOk {
  margin: 5px;
}