<h2> Информация о сделанных прививках</h2>

<app-patient-definer (patientEmitter)="onDefinePatient($event)"></app-patient-definer>

<div *ngIf="isLoaded && patient">

  <a class="btn btn-primary" [routerLink]="['vaccine', 'add']">Добавить запись о прививке</a>

  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Препарат</th>
          <th scope="col">Наличие согласия на прививку</th>
          <th scope="col">Дата проведения</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vaccine of vaccines; let idx = index">
          <th scope="row">{{idx + 1}}</th>
          <td>{{vaccine.medication}}</td>
          <td>{{vaccine.agreement ? 'Да' : 'Нет'}}</td>
          <td>{{vaccine.date | date:'dd.MM.yyyy'}} </td>
          <td><a [routerLink]="['/patient', patient.id, 'vaccine', vaccine.id]" class="btn btn-success">Редактировать</a></td>
          <td>  <button class="btn btn-danger" (click)="delete(vaccine)">Удалить</button>  </td>
        </tr>
      </tbody>
    </table>
</div>